<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Festinha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Insumos</h1>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="limpar()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<div class="primeiro">

  <div class="conteudo">
    <div class="linha">
      <div class="produto">ADULTO</div>
      <div class="mostrador">
        <ion-button (click)="removerAdulto()">-</ion-button>
        <input type="number" [(ngModel)]="quantidadeAdulto" (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarAdulto()">+</ion-button>
      </div>
    </div>

    <div class="linha2">
      <div class="produto">CRIANÇA</div>
      <div class="mostrador">
        <ion-button (click)="removerCrianca()">-</ion-button>
        <input type="number" [(ngModel)]="quantidadeCrianca" (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarCrianca()">+</ion-button>
      </div>
    </div>

  </div>

    <div class="linhaResultado">
      <container class="resul">
        <div>Total de Salgadinhos (un)</div>
        <div>{{ quantidadeSalgadinhos.toFixed(0) }}</div>
      </container>
      
      <container class="resul">
        <div>Total de Refrigerante (litros)</div>
        <div>{{ quantidadeRefrigerante.toFixed(1) }}</div>
      </container>
      

      <container class="resul">
        <div>Total de Bolo (gramas)</div>
        <div>{{ quantidadeBolo.toFixed(1) }}</div>
      </container>
      
    </div>
  </div>
</ion-content>