ion-content{
  
  --background: url("../../assets/gente.png");
  
}
ion-fab-button{
  --background: #f62f2f;
  --background-activated: #da2727;
}
h1{
  background: #fff;
  padding: 12px;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  color: #023059;
  
  border: solid #023059 5px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;

}
.produto{
  color: #023c6e;
  font-weight: 900;
  text-shadow: 3px 3px 2px black;
  font-size: 28px;
}
.conteudo{
  font-size: 1.5rem;
  padding: 32px;
}

.linha{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  
}

.linha2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding-top: 20px;
}

.mostrador{
  display: flex;
  align-items: center;
  gap: 10px;
  ion-button{
    --background: #fff;
    --background-activated: #aaa;
    --color: #000;
  }
  input{
    width: 50px;
    text-align: center;
    border-radius: 10px;
    border: 0;
  }
}

.primeiro {
  display: flex;
  flex-direction: column;
  
}

.linhaResultado{
  color: #023c6e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.resul{
  border-radius: 10px;
  border: solid #011f3a 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #abc1e0;
}